.primary-color { 
  background-color: #3f51b5;
}

.primary-color-dark {
  background-color: #012c5a;
}

.primary-color-ligth {
  background-color: #757de8;
}

.white {
  background-color: #fff;
}

.grey {
  background-color: #e9e9e9;
}

.red {
  background-color: #dc3545;
}

.blue-dark {
  background-color: #0d305e;
}

.text-white {
  color: #fff;
}

.text-error {
  color: #dc3545;
}

.text-primary { 
  color: #3f51b5;
}

.text-primary-dark {
  color: #002984;
}

.text-primary-ligth {
  color: #757de8;
}

.text-blue {
  color: #90c5fd;
}

.text-link {
  color: #2964b0;
}