
*, *:before, *:after {
  box-sizing: border-box;
}

body, #root {
  height: 100%;
}

p, body, h1, h2, h3, h3 {
  margin: 0;
}

h1, h2, h3, h4 {
  color: #343a40;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}

#root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100% !important;
}

.auto-height {
  height: auto !important;
}

.btn {
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1rem;
  height: 41px;
  line-height: 1.5;
  margin: 3px;
  outline: none;
  padding: 0 15px;
  text-align: center;
  white-space: nowrap;
}

.btn-small {
  height: 26px;
}

.btn-big {
  width: 100%;
}

.btn svg {
  height: 13px !important;
  width: 13px !important;
  margin-right: 8px;
}


.btn:hover svg {
  opacity: 50%;
}

.btn-colored {
  background-color: #fff;
  border: 1px solid #002984;
  color: #002984;
}

.btn-colored:hover {
  background-color: #002984;
  border: 1px solid #002984;
  color: #fff !important;
}

.btn:hover {
  background-color: rgb(239, 239, 239),;
  border-color: rgb(170, 170, 170);
  color: rgb(170, 170, 170);
  text-align: center;
}

.btn-colored-blue {
  align-items: center;
  background-color: #012c5a;
  border: 1px solid #012c5a;
  color: #fff;
  display: flex;
  justify-content: center;
}

.btn-colored-blue span {
  color: #fff;
  text-align: center;
}

.btn-colored-blue:hover {
  opacity: 80%;
 }


.btn-primary {
  background-color: #3b98fc;
  border-color: #007bff;
  color: #fff
}

.btn-primary:hover {
  background-color: #0261c7;
  border-color: #0261c7;
  color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 1200px;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  align-items: flex-start;
}

.right {
  display: flex;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin: 8px 0;
  width: 100%;
}

.card-flat {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);
  padding: 5px;
  margin: 3px 0;
  width: 100%;
}


.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 600;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-24 {
  font-size: 24px;
}

.mobile {
  display: none;
}

/* mobile */
@media (max-width: 800px)  {
  .no-mobile {
    display: none !important;
  }

  .mobile {
    display: flex;
  }

  .mobile-col {
    flex-direction: column !important;
  }

  .mobile-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .btn-icon {
    width: 40px;
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1060px;
    padding: 0 32px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 720px;
    padding: 0 22px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 45px;
  }
}
