.landing-header {
  padding-top: 70px;
  justify-content: center;
  display: flex;
}

.landing-header img { 
  width: 250px;
}

.landing-header-image-container {
  width: 950px;
}

.text-title {
  font-size: 24px;
  max-width: 330px;
}

.text-title span {
  font-weight: 600;
}

.landing-card {
  width: 400px;
}

.landing-card form h4 {
  margin: 18px 0;
}

.landing-card-header {
  color: #999999;
}

.landing-text-title {
  padding: 10px 0;
}

.footer-landing {
  padding-top: 50px;
}

.footer-landing footer {
  background-image: url('../../assets/footer-img.png');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  padding: 50px 20%;
}

.footer-jesus-nava-img {
  height: 150px;
  margin-bottom: 16px;
}

.footer-social-icons img {
  height: 50px;
  margin: 20px 40px;
  width: 50px;
}

.footer-whatsapp {
  background-color:  rgba(27, 27, 27, 0.8);
  border: 2px solid #fff;
  font-size: 25px;
  padding: 8px;
}

.footer-whatsapp div a img {
  height: 50px;
  margin-right: 20px;
  width: 50px;
}

.landing-modal-success {
  padding: 0 16px 31px 16px;
}

.landing-policy {
  align-items: center;
  height: 50px;
  justify-content: space-between;
  padding: 0 8px;
}

.landing-description-container {
  padding-top: 20px;
  align-items: center;
  max-width: 400px;
}

.landing-description-container h1 {
  font-size: 36px;
}

.landing-form-container {
  align-items: center;
  justify-content: center;
  max-width: 550px;
}

.text-white, .text-white h1, .text-white h2, .text-white h3, .text-white h4 {
  color: #fff !important;
}

.policy-modal-width {
  max-height: 600px;
  max-width: 600px;
  overflow-y: scroll;
  padding: 0 32px 16px 32px;
}

@media (max-width: 800px)  {
  .footer-landing footer {
    padding: 50px 20px;
  }

  .landing-card {
    width: 100%;
  }

  .landing-header-image-container {
    display: flex;
    justify-content: center;
  }

  .text-title {
    max-width: 100%;
  }

  .text-white {
    text-align: center;
    margin-bottom: 20px;
  }

  .landing-header {
   padding-top: 30px;
  }

  iframe {
    width: 100%;
  }
}
