.login-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.login-container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 500px;
}

.login-container h1 {
  padding-bottom: 16px;
}

.login-container-left {
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display:  flex;
  flex: 1;
  height: 100%;
  margin-left: -16px;
  padding: 56px 0;
}

.login-form-logo {
  height: 150px;
  width: 200px;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}