.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #02458d;
  margin-bottom: 30px;
  height: 80px;
  width: 100%;
}

.header-container h1 {
  color: #fff;
  margin-left: 30px;
}

.header-button {
  margin-right: 30px;
}

.header-logo {
  align-items: center;
  padding-left: 30px;
}

.header-logo img {
  height: 50px;
}
