.input-from-container {
  margin-bottom: 16px;
  width: 100%;
}

.input-from-label {
  color: #343a40;
  font-weight: bold;
  padding-bottom: 16px;
}

.text-area-from {
  resize: none;
  height: 200px;
  border: 1px solid #2c90fc !important;
}

.input-from {
  border-radius: 5px;
  border: 1px solid #2c90fc;
  color: #202020;
  font-size: 14px;
  height: 41px;
  outline: none;
  padding-left: 16px;
}

.input-from-error {
  border: 1px solid #dc3545;
}

.input-from-error-label {
  font-size: 11px;
  padding: 5px;
}

.input-from:focus  {
  border: 1px solid #0261c7;
}

.text-area-from {
  border-radius: 5px;
  border: 1px solid ;
  color: #202020;
  font-size: 14px;
  min-height: 82px;
  outline: none;
  padding-left: 16px;
}