.modal-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.20);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}

.card-container {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 200px;
  min-width: 200px;
  padding: 0 8px;
  position: relative;
}

.modal-card-title {
  color: #22435e;
  flex: 1;
  font-family: 'Inter-SemiBold';
  font-size: 24px;
  margin-bottom: 14px;
  margin-top: 32px;
  text-align: center;
}

.modal-card-title-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
