.field-requerid-container {
  width: 258px;
}

.btn-add-input {
  margin: 0 3px;
}

.create-landing-row-new-input span:first-child {
  margin-right: 30px;
}

.table-text-rich div:last-child {
  height: 150px;
  overflow: auto;
}

.button-create-landings {
  margin-bottom: 8px;
}